<nz-layout class="layout">
    <nz-sider>
        <app-nav-bar routerNav="createShedule" isSub="shedule"></app-nav-bar>
    </nz-sider>
    <nz-layout class="right-layout">
        <nz-header>
            <div class="tiletHeader">Trang quản lý phòng phám đa khoa Thái Thịnh</div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <div class="titlePage">
                    Thêm mới lịch khám
                </div>

                <div class="searchUser" nz-row>
                    <div class="searchItem" style="border-right: 1px solid rgb(8, 84, 44) ;" nz-col nzSpan="12">

                        <div class="searchTitle">Mã bệnh nhân</div>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 400px;">
                            <input type="text" nz-input placeholder="Mã bệnh nhân" [(ngModel)]="idPatient"
                                (keyup.enter)="getPatiens()" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"
                                    (click)="getPatiens()"></span></button>
                        </ng-template>
                        <nz-descriptions nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Mã bệnh nhân">{{patients.userId}}</nz-descriptions-item>
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Tên bệnh nhân">{{patients.name}}</nz-descriptions-item>
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Giới tính">{{patients.gender}}</nz-descriptions-item>
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Địa chỉ">{{patients.address}}</nz-descriptions-item>
                        </nz-descriptions>
                    </div>
                    <div class="searchItem" nz-col nzSpan="12">
                        <div class="searchTitle">Nhập mã bác sỹ</div>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton2" style="width: 400px;">
                            <input type="text" nz-input placeholder="Mã dịch vụ" [(ngModel)]="idDoctor" />
                        </nz-input-group>
                        <ng-template #suffixIconButton2>
                            <button nz-button nzType="primary" nzSearch><span nz-icon nzType="plus"
                                    (click)="getDoctors()"></span></button>
                        </ng-template>
                        <nz-descriptions nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Mã bác sỹ">{{doctors.userId}}</nz-descriptions-item>
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Tên bác sỹ">{{doctors.name}}</nz-descriptions-item>
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Giới tính">{{doctors.gender}}</nz-descriptions-item>
                            <nz-descriptions-item nzSpan="4"
                                nzTitle="Địa chỉ">{{doctors.address}}</nz-descriptions-item>
                        </nz-descriptions>
                    </div>
                    <div class="searchItem" nz-col nzSpan="12" style="border-right: 1px solid rgb(8, 84, 44) ;">
                        <div class="searchTitle">Nhập dịch vụ</div>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton3" style="width: 400px;">
                            <input type="text" nz-input placeholder="Mã dịch vụ" [(ngModel)]="idService" />
                        </nz-input-group>
                        <ng-template #suffixIconButton3>
                            <button nz-button nzType="primary" nzSearch><span nz-icon nzType="plus"
                                    (click)="getServices()"></span></button>
                        </ng-template>
                    </div>
                    <div class="searchItem" nz-col nzSpan="12">
                        <div class="searchTitle">Vui lòng chọn thời gian: </div>
                        <nz-date-picker nzFormat="dd/MM/yyyy HH:mm" [nzDisabledDate]="disabledDate"
                            (ngModelChange)="onTimeChange($event)" [(ngModel)]="sheduleDay"
                            [nzShowTime]="{ nzDefaultOpenValue: timeDefaultValue }"></nz-date-picker>
                    </div>
                </div>
                <nz-table style="margin: 16px;" #basicTable [nzData]="services" [nzBordered]="true"
                    [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>Mã dịch vụ</th>
                            <th>Tên dịch vụ</th>
                            <th>Số lượng</th>
                            <th>Chuyên khoa</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data; let index = index">
                            <td>{{ data.serviceId }}</td>
                            <td>{{ data.name }}</td>
                            <td>1</td>
                            <td>{{ data.specialist.name }}</td>
                            <td>{{ data.price | priceFormat }}</td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="btn-create">
                    <button nz-button nzType="primary" (click)="createShedule()">Tạo hóa đơn</button>
                </div>
            </div>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>